<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="keywords" content="mazzuru">
    <meta name="description" content="マズル">
    <meta name="author" content="AOKI Atsushi">
    <link rev="made" href="index.html">
    <link rel="index" href="index.html">

    <title>マズル</title>
  </head>
  <body>

    <div id="header">

      <a href="seach.html">
        <div id="logo"></div>
      </a>
        <div id="tabs">
          <a class='tab' href="seach.html">
              <div class='englishTab'>TOP</div>
            </a>
            <a class='tab' href="seach.html">
              <div class='englishTab'>さがす</div>
            </a>
            <a class='tab'>
              <div class='englishTab'>メッセージ</div>
            </a>
        </div>

        <div id="userLapper">
          <div id="myProf">

          </div>
        </div>

        <div id="belLapper">
          <div id="bel">

          </div>
        </div>

    </div>


    <div class="content">

      <div id="contentTitle">
        つくりたい人を探す
      </div>

      <div id="seachBody">
        <table id="seachContent" border="0" width="100%" cellspacing="0" bordercolor="#333333">
          <tr>
            <td class="seachTitle">やりたいこと：</td>
            <td>
                <input type="checkbox" name="webApp">Webアプリ　
                <input type="checkbox" name="webSevice">Webサービス　
                <input type="checkbox" name="mobileApp">モバイルアプリ　
                <input type="checkbox" name="mobileSite">モバイルサイト　
                <input type="checkbox" name="game">ゲーム　
                <input type="checkbox" name="UI/UX">UI/UX　
                <input type="checkbox" name="graphics">グラフィック　
                <input type="checkbox" name="frontend">フロントエンド　
                <input type="checkbox" name="backend">バックエンド
            </td>
          </tr>
          <tr>
            <td class="seachTitle">役割：</td>
            <td>
              <input type="checkbox" name="ensineer">エンジニア　
              <input type="checkbox" name="designer">デザイナー
            </td>
          </tr>
          <tr>
            <td class="seachTitle">居住地：</td>
            <td>
              <select name="prefecture">
              <option value="hokkaido">北海道</option>
              <option value="aomori">青森県</option>
              <option value="akita">秋田県</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="seachTitle">フリーワード：</td>
            <td>
              <input type="text" name="freeWord" size="26" maxlength="20" id="freeWord">
            </td>
          </tr>
        </table>
        <div id="sendButtonLapper">
          <div id="sendButton">
            検索
          </div>
        </div>
      </div>


    </div>

    <a>
    <div class="user">
      <div class="productImg">
        <div class="productTitle">
          タイトル
        </div>
        <div class="productDetail">
          詳細詳細詳細詳細詳細詳細詳細詳細詳細詳細
        </div>
      </div>
      <div class="wants">
        webデザイン・webアプリ
      </div>
      <div class="name">
        山田太郎
      </div>
      <a>
        <div class="favo">
          マズりたい！
        </div>
      </a>
    </div>
    </a>

    <a>
    <div class="user">
      <div class="productImg">
        <div class="productTitle">
          タイトル
        </div>
        <div class="productDetail">
          詳細詳細詳細詳細詳細詳細詳細詳細詳細詳細
        </div>
      </div>
      <div class="wants">
        webデザイン・webアプリ
      </div>
      <div class="name">
        山田太郎
      </div>
      <a>
        <div class="favo">
          マズりたい！
        </div>
      </a>
    </div>
    </a>

    <a>
    <div class="user">
      <div class="productImg">
        <div class="productTitle">
          タイトル
        </div>
        <div class="productDetail">
          詳細詳細詳細詳細詳細詳細詳細詳細詳細詳細
        </div>
      </div>
      <div class="wants">
        webデザイン・webアプリ
      </div>
      <div class="name">
        山田太郎
      </div>
      <a>
        <div class="favo">
          マズりたい！
        </div>
      </a>
    </div>
    </a>

    <a>
    <div class="user">
      <div class="productImg">
        <div class="productTitle">
          タイトル
        </div>
        <div class="productDetail">
          詳細詳細詳細詳細詳細詳細詳細詳細詳細詳細
        </div>
      </div>
      <div class="wants">
        webデザイン・webアプリ
      </div>
      <div class="name">
        山田太郎
      </div>
      <a>
        <div class="favo">
          マズりたい！
        </div>
      </a>
    </div>
    </a>

    <a>
    <div class="user">
      <div class="productImg">
        <div class="productTitle">
          タイトル
        </div>
        <div class="productDetail">
          詳細詳細詳細詳細詳細詳細詳細詳細詳細詳細
        </div>
      </div>
      <div class="wants">
        webデザイン・webアプリ
      </div>
      <div class="name">
        山田太郎
      </div>
      <a>
        <div class="favo">
          マズりたい！
        </div>
      </a>
    </div>
    </a>

    <a>
    <div class="user">
      <div class="productImg">
        <div class="productTitle">
          タイトル
        </div>
        <div class="productDetail">
          詳細詳細詳細詳細詳細詳細詳細詳細詳細詳細
        </div>
      </div>
      <div class="wants">
        webデザイン・webアプリ
      </div>
      <div class="name">
        山田太郎
      </div>
      <a>
        <div class="favo">
          マズりたい！
        </div>
      </a>
    </div>
    </a>

  </body>
</html>
