
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="keywords" content="mazzuru">
    <meta name="description" content="マズル">
    <meta name="author" content="AOKI Atsushi">
    <link rev="made" href="index.html">
    <link rel="index" href="index.html">
    <link rel="stylesheet" type="text/css" href="profile.css" />

    <title>マズル</title>

    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script type="text/javascript">
    $(".single-item").slick({
      accessibility: true,
      autoplay: true,
      autoplaySpeed: 1000,
      dots: true,
      fade: true,
    });


    </script>
  </head>
  <body>

    <div id="header">

      <a href="seach.html">
        <div id="logo"></div>
      </a>
        <div id="tabs">
          <a class='tab' href="seach.html">
              <div class='englishTab'>TOP</div>
            </a>
            <a class='tab' href="seach.html">
              <div class='englishTab'>さがす</div>
            </a>
            <a class='tab'>
              <div class='englishTab'>メッセージ</div>
            </a>
        </div>

        <div id="userLapper">
          <div id="myProf">

          </div>
        </div>

        <div id="belLapper">
          <div id="bel">

          </div>
        </div>

    </div>

    <div id="content">
      <div id="products">

        <div class="sectionTitle">
          <img src="images/icons/pazzl.png">
          作品紹介
        </div>
        <img id="productImg" src="/product.jpeg">
        <div id="productText">
          <div id="productTitle">
            ここにタイトルが入ります
          </div>
          ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。
          <br>
          <br>
          使用ツール：Adobe Illustrator
        </div>

      </div>

      <div class="sectionTitle">
        <img src="images/icons/pazzl.png">
        プロフィール
      </div>
      <div id="profContent">
        <div id="leftContent">
          <img id="prof" src="images/prof.jpg">

          <div id="leftLapper">
            <div id="favo">
              マズりたい！
            </div>
            <div id="message">
              メッセージ
            </div>
          </div>

        </div>

        <div id="rightContent">
          <div class="contentTitle">
            デザイナー
          </div>
          <div class="contentTitle">
            <span id="name">おばた</span><span id="detail">　東京都/20歳/女</span>
          </div>
          <div class="contentTitle">
            <span id="other">多摩美術大学 情報デザイン学科所属</span>
          </div>
          <div class="contentTitle">
            <span id="other">やりたいこと</span>　　WEBサービス
          </div>
          <div class="contentTitle">
            <span id="other">こんにちはこんにちはこんにちはこんにちはこんにちはこんにちは</span>
          </div>

        </div>

      </div>
    </div>

  </body>
</html>
